<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Writer's Block</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> --}}
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/typewriter.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="typewriter">
        <h1>Writer's Block</h1>
        </div>
        <nav>
            {{#if logged_in}}
            <a class="navLink animatedBtn" href="/profile">profile</a>
            <a class="navLink animatedBtn" href="/post">post</a>
            <a class="navLink animatedBtn" href="/logOut">log out</a>
            {{/if}}
        </nav>
        
    </header>
    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>