<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Writer's Block</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <header>
        <h1>Writer's Block</h1>
        <nav>
            {{#if logged_in}}
            <a href="/profile">profile</a>
            <a href="/post">post</a>
            <a href="/logOut">log out</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
    <script src="../../public/js/logout.js"></script>
    {{/if}}
</body>
</html>