<div class="scene">
        <div class="cube flip-scale-down-ver">
          <div class="cube__face cube__face--front">
              <button id= "loginTurn" type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">
              Log In
              </button>
              <button id= "signUpTurn" type="button" class="btn btn-outline-primary"  data-mdb-ripple-color="dark">
              Sign Up
              </button>
          </div>
          <div class="cube__face cube__face--back">
            <form class="signUpForm">
              <div class="mb-3">
                <label for="signUpEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We will literally never email you.</div>
              </div>
              <div class="mb-3">
                <label for="signUpPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="signUpPassword">
              </div>
              <button id="signUpBtn" type="submit" class="btn btn-primary signUpSubmit">Submit</button>
            </form>
          </div>
          <div class="cube__face cube__face--right">
            <form class="loginForm">
              <div class="mb-3">
                <label for="loginEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="loginEmail">
              </div>
              <div class="mb-3">
                <label for="loginPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginPassword">
              </div>
              <button id="loginBtn" type="submit" class="btn btn-primary loginSubmit">Submit</button>
            </form>
          </div>
          <div class="cube__face cube__face--left">left</div>
          <div class="cube__face cube__face--top">top</div>
          <div class="cube__face cube__face--bottom">bottom</div>
        </div>
      </div>
       <p class="radio-group">
        <label>
          <input type="radio" name="rotate-cube-side" value="front" checked /> front
        </label>
        <label>
          <input type="radio" name="rotate-cube-side" value="right" /> right
        </label>
        <label>
          <input type="radio" name="rotate-cube-side" value="back" /> back
        </label>
        <label>
          <input type="radio" name="rotate-cube-side" value="left" /> left
        </label>
        <label>
          <input type="radio" name="rotate-cube-side" value="top" /> top
        </label>
        <label>
          <input type="radio" name="rotate-cube-side" value="bottom" /> bottom
        </label>
      </p>
  <script src= "/js/homepage.js"></script>