<div class="main">
<div class="wrap">
	<div class="cube">
		<div class="front"></div>
		<div class="back"></div>
		<div class="top"></div>
		<div class="bottom"></div>
		<div class="left"></div>
		<div class="right"></div>
	</div>
</div>
<div class="formDiv">
<form class="signUpForm">
  <div class="mb-3">
    <label for="signUpEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We will literally never email you.</div>
  </div>
  <div class="mb-3">
    <label for="signUpPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="signUpPassword">
  </div>
  <button id="signUpBtn" type="submit" class="btn btn-primary signUpSubmit animatedBtn">Submit</button>
</form>
</div>
<div class="formDiv">
<form class="loginForm">
  <div class="mb-3">
    <label for="loginEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="loginEmail">
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginPassword">
  </div>
  <button id="loginBtn" type="submit" class="btn btn-primary loginSubmit animatedBtn">Submit</button>
</form>
</div>
</div>
<script src= "/js/homepage.js"></script>