<div class="scene">
        <div class="cube flip-scale-down-ver">
          <div class="cube__face cube__face--front">
              <button class="singUp"></button>
              <button class="logIn"></button>
          </div>
          <div class="cube__face cube__face--back">back</div>
          <div class="cube__face cube__face--right">right</div>
          <div class="cube__face cube__face--left">left</div>
          <div class="cube__face cube__face--top">top</div>
          <div class="cube__face cube__face--bottom">bottom</div>
        </div>
      </div>