<div class="prompt col-md-5">
  <h2>{{prompt_title}}</h2>
  <p>
    {{prompt_text}}
  </p>
  <button id="r"></button>

  <form class="blog-form">
  <div class="mb-3">
    <input id="blog-input" type="text" class="form-control">
  </div>
  <button  type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script src="/js/post.js"></script>
