<div class="prompt col-md-5">
  <h2 style="text-align: center">{{prompt_title}}</h3>
  <p style="text-align: center; font-size: x-large">{{prompt_text}}</p>
</div>

<form class='blog-form'>
  <div class="mb-3">
    <label for="blog-input" class="form-label">Write your blog here</label>
    <textarea class="form-control" type="text" id="blog-input"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src= "/js/post.js"></script>
