<div class="prompt col-md-5">
  <div class="prompt col-md-5 promptDiv">
  <h2 id="promptTitle">{{prompt_title}}</h2>
  <br>
  <p>
    {{prompt_text}}
  </p>
  <button class="animatedBtn">refresh</button>
</div>
  <form class="blog-form">
  
    <textarea id="blog-input" name="text" class="form-control" autofocus></textarea>
  <button  type="submit" class="animatedBtn">Submit</button>
  </form>
</div>
<script src="/js/post.js"></script>
