<div class="prompt col-md-5">
  <p>
    {{prompt_title}}
    {{prompt_text}}
  </p>
  <button id="r"></button>

  <form>
  <div class="mb-3">
    <input type="text" class="form-control">
  </div>
  <button id="blog_input" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script></script>
