
<h2 class= "header">Hello, you!</h2>

{{#if blogs.length}}
  <div class="col-md-6 project-list">

    <h3>The Past:</h3>
    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        {{!-- <h4>{{prompts(blog.prompt_id)}}</h4> --}}
      </div>
      <div class="col-md-4">
        <p>{{blog.blog_text}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <button id="postDirectBtn">Start Writing</button>

{{!-- <script src="/js/profile.js"></script> --}}
