
<h2 class= "header">Hello, you!</h2>
<div class= "options">
  
    <button type="submit" class="btn btn-primary">Feed</button>
    <button type="submit" class="btn btn-primary">Profile</button>
    <button type="submit" class="btn btn-primary">Post</button>
    <button type="submit" class="btn btn-primary">Sign Out</button>
  </div>
</div>
    <h3>The Past:</h3>
    {{#each }}
  </div>

  
<script src="/js/profile.js"></script>
