<h2 class= "header">Hello, you!</h2>

<div class="main">
{{#if blogs.length}}
  <div class="pastPosts">

    <h3 class="thePast">The Past:</h3>
    {{#each blogs}}
    <div class="eachBlog">
      <div class="eachBlogPrompt">
        <h4>{{prompt.prompt_title}}</h4>
        <h5>{{prompt.prompt_text}}</h5>
      </div>
      <div class="eachBlogText">
        <p class="blogTextPast">{{blog_text}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <a href="/post" id="postDirectBtn" class="animatedBtn navLink">Start Writing</a>
  <a href="/prompt" id="postDirectBtn" class="animatedBtn navLink">Submit a Prompt</a>
</div>
<script src="/js/profile.js"></script>
