<div class="main">
    <form class="promptForm">
        <div class="promptFormPart">
        <label for="subTitle">Prompt Title</label>
        <input type="text" id="subTitle">
        </div>
        <div class="promptFormPart">
        <label for="subText">Prompt</label>
        <textarea name="text" id="subText"></textarea>
        </div>
        <button id="promptBtn" type="submit" class="btn btn-primary animatedBtn">Submit</button>
    </form>
</div>
<script src= "/js/prompt.js"></script>