* { 
  box-sizing: border-box;
  font-family:  'Crimson Text', serif;
 }
 h1 { 
   font-size: xxx-large;
 }
 h4, h5 {
   margin: 0;
 }

.main {
  display:flex;
  justify-content: center;
}

form { 
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}
.formDiv {
  margin-top: 10vh;
}
#emailHelp {
  font-size: x-small;
}
label {
  font-size: large;
}
.promptForm {
  margin-top: 20vh;
}
.blogTextPast {
  font-size: large;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header {
  margin: 0;
}
.thePast {
  font-size: x-large;
  text-align: center;
}
.navLink {
  text-decoration: none;
  padding: 0.75vw;
  color: black;
  font-size: x-large;
  font-weight: 600;
}
#postDirectBtn {
  min-width: 200px;
  min-height: 100px;
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  margin: auto;
  line-height: 100px;

}
#pastPosts {
  width: 200px;
  height: 300px;
  overflow-y:auto;
}
.eachBlog {
  border: 1px solid black;
  margin: 2vh;
  padding: 1vh;
}
textarea { 
  font-family:  'Crimson Text', serif;
  font-size: medium;
}
#blog-input {
  min-width: 75vw;
  min-height: 65vh;
}
.promptDiv {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75vw;

}
#promptTitle {
  /* text-align: center; */
  width: 100%;
  margin-bottom: 0;
}
.animatedBtn {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-family:  'Crimson Text', serif;
  margin: 1em 0.8em
}
.animatedBtn::after, .animatedBtn::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px
}
.animatedBtn::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: black;
  border-right-color: black;
  }

.animatedBtn::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: black;
  border-left-color: black;
}
.animatedBtn:hover:after,
.animatedBtn:hover:before {
  border-bottom-color: black;
  border-right-color: black;
  border-top-color: black;
  border-left-color: black;
  width: 100%;
  height: 100%;
}
.wrap {
	perspective: 400px;
	perspective-origin: 50% 100px;
  margin: 15vh
}
.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
    margin: auto;
}
.cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.1);
    box-shadow: inset 0 0 30px rgb(125 125 125 / 80%);
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    color: rgba(0,0,0,0.5);
    font-family: sans-serif;
    text-transform: uppercase;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(100px);
}


@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 10s infinite linear;
}